html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 30px 0 50px;
    padding: 10px;
}

.menu {
    display: flex;
    gap: 30px;
    flex-shrink: 1;
}

.menu a {
    color: hsl(228, 3%, 39%);
    transition: 0.3s;
}

.menu a:hover {
    color: hsl(5, 85%, 63%);
}

.container {
    display: flex;
}

.principal img {
    width: 90%;
}

.informacoes {
    display: flex;
}

.titulo-principal {
    padding: 30px 0;
    font-size: 6rem;
    font-weight: bold;
    width: 90%;
    margin-right: 50px;
}

.descricao {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.descricao p {
    padding: 30px 0 20px;
    font-size: 2rem;
    width: 75%;
    line-height: 2.5rem;
    color: hsl(228, 3%, 39%);
    margin-bottom: 20px;
}

.botao {
    padding: 18px 30px;
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    text-transform: uppercase;
    letter-spacing: 1rem;
    transition: 0.3s ease-in-out;
}

.botao:hover {
    background-color: hsl(240, 100%, 5%);
}

.news {
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    padding: 40px 40px 0;
    height: 600px
}

.bloco-news h2 {
    font-size: 3rem;
    color: hsl(35, 77%, 62%);
    font-weight: bold;
}

.bloco-news .titulo-noticia {
    color: hsl(36, 100%, 99%);
    font-size: 2rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.bloco-news h3 {
    padding: 30px 0 20px;
}

.bloco-news:hover .titulo-noticia {
    color: hsl(35, 77%, 62%);
}

.bloco-news p {
    color: hsl(233, 8%, 79%);
    line-height: 3rem;
}

.bloco-news:not(:last-child) p {
    border-bottom: 1px solid hsl(233, 8%, 79%);
    padding-bottom: 20px;
}

.materias {
    display: flex;
    margin-top: 20px;
}

.materias img {
    width: 25%;
}

.materia {
    display: flex;
}

.materia .descricao-materia {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.descricao-materia .titulo-numero {
    font-size: 3rem;
    font-weight: bold;
    color: hsl(233, 4%, 64%);
}

.descricao-materia .subtitulo {
    font-weight: bold;
    font-size: 2rem;
    padding: 10px 0;
    transition: 0.3s ease-in-out;

    color: hsl(0, 0%, 0%);
}

.descricao-materia .subtitulo:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.descricao-materia .mais-info {
    color: hsl(233, 4%, 64%);
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px 0px 10px;
}

footer p {
    padding-right: 10px;
}

footer a {
    color: hsl(0, 0%, 0%);
    text-decoration: underline;
}